body {
    margin: 0;
    padding: 0;
    background-color: #34495a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'montserrat', sans-serif;
    animation: loading 2s linear infinite;
}

.loading {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
}

.loading::before,
.loading::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loading::before {
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}

.loading::after {
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
}

.loading span {
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    animation: loading-text 2s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

@keyframes loading-text {
    to {
        transform: rotate(-360deg);
    }
}